<!doctype html>
<html>

<head>
  <title>Hello World</title>

  <!--https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js-->
  <script src="/lib/react.min.js"></script>
  <!--https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js-->
  <script src="/lib/react-dom.min.js"></script>

</head>

<body>
  <div id="main"></div>
</body>


</html>